@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "playwrite";
    src: url("../fonts/PlaywriteAUQLD-VariableFont_wght.ttf") format("truetype");
}

/* Base styles */
@layer base {
    html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            sans-serif;
    }

    body {
        @apply text-gray-900;
    }
}

/* Component styles */
@layer components {
    .nav-icon {
        @apply text-gray-700 hover:text-gray-900 transition-colors duration-200 cursor-pointer;
    }

    .btn-primary {
        @apply bg-blue-500 text-white hover:bg-blue-600 px-4 py-2 rounded text-sm font-semibold transition-colors duration-200;
    }
}
